*{
    margin: 0;
    box-sizing: border-box;
}

footer{
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(180, 218, 252);
    text-align: center;
    padding: 30px;
}

header{
    background-color: rgb(180, 218, 252);
    padding: 30px;
    text-align: center;
    width: 100%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border: 10px inset;
    border-radius: 15px;  
    cursor: pointer;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: aliceblue;
    width: 65%;
}
li label{
    font-size: larger;
    padding-left: 5px;
}
.trashIcon{
    width: 30px;
    height: 30px;
}
.addList{
    padding: 10px;
}

.plus-icon, .srch-icon{
    height: 25px;
    width: 25px;
}

